.Header {
  background: var(--color-brand);
  box-shadow: 0 0.25rem 0 var(--color-shadow);
}

.Header__name {
  font-family: "Freakshow", fantasy;
  font-size: 3.75rem;
  line-height: 1;
  color: var(--color-dark);
  margin: 0;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  text-shadow:
    0 0.25rem 0 var(--color-shadow),
    0.25rem 0 0 var(--color-shadow);
}

.Header__nameIntro {
  display: block;
  font-size: 1.25rem;
  color: white;
}
